$base-font-size: 14px;
$serif: 'Acta', serif;
$serif-medium: 'Acta Medium', serif;
$sans-serif: 'Sharp Sans', sans-serif;

$absolute-black: #000;
$black: #0a0a0a;
$midnight: #171e2d;
$mid-gray: #86878f;
$mid-light-gray: #c3c3c7;
$light-gray: #f0f2f6;
$white: #fff;
$dark-blue: #162b69;
$text-dark-blue: #172b6a;
$header-dark-blue: #152b69;
$blue: #2c58d1;
$light-blue: #dfedfa;
$very-light-blue: #f5f9fd;
$dark-red: #7b1c17;
$red: #f46e5d;
$light-red: #fceaec;
$error-red: #d0021b;
$dark-green: #185149;
$green: #57dfc7;
$light-green: #ddf2ef;
$yellow: #f3d35d;
$background-yellow: #fefad2;
$background-color: #e7e9ed;
$modal-backdrop: rgba(84, 84, 84, 0.4);
$modal-text: #9b9b9b;
$slate: #2c2c2c;
$scrollbar-color: #d8d8d8;
$file-success: #0ab233;
